a{
    text-decoration: none;  /*a기본스타일 초기화*/
    color: #fff;
}
.menu-bar{
    background-color: #777;
    overflow: auto; /*자동정렬*/
}
.menu-bar a{
    padding: 12px;
    display: inline-block;
    font-size: 18px;
    float: left; /*왼쪽에 공간 없애줌*/
}
.menu-bar a:hover{
    background-color: #000; /*마우스 올리면 색 변함*/
}
.menu-bar a.active{
    background-color: teal;
}